*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

#grid{
    width: 1000px;
    flex-wrap: wrap;
}

.square{
    width: 100px;
    height: 100px;
    background-color: gray;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square span{
    opacity: 0;
}

.square.clicked span{
    opacity: 1;
}

.clicked{
    background-color: #fff;
}